# .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.log
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
**/Properties/launchSettings.json

# EF Core migrations temporaires
*.db
*.db-shm
*.db-wal

# Secrets
appsettings.Development.json
appsettings.Production.json

# Angular / Node
node_modules/
dist/
.angular/
*.js.map

# Claude Code
.claude/

# OS
.DS_Store
Thumbs.db
desktop.ini
